
.sidebar-navlink:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.sidebar-navlink[data-active] {
  background-color: rgba(255, 255, 255, 0.22);
}

.sidebar-navlink[data-active]:hover {
  background-color: rgba(255, 255, 255, 0.28);
}
